main.content-vls {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
}

#inputGroupCurso.hidden{
    display: none;
}

#inputGroupCurso.show{
    display: block;
}

#output_user{
    display: none;
}